
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.wc-box {
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    right: 0;
  }
  
  .wc-box div {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
  }
  
  .wc-box div:before,
  .wc-box div:after {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    content: " ";
    position: absolute;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 2px 0;
  }
  
  .wc-box .minimize:before {
    border-bottom-width: 2px;
  }
  
  .wc-box .maximize:before {
    border-width: 1px 1px 2px 1px;
  }
  
  .wc-box .close:before,
  .wc-box .close:after {
    bottom: 50%;
    top: 50%;
  }
  
  .wc-box .close:before {
    transform: rotate(45deg);
  }
  
  .wc-box .close:after {
    transform: rotate(-45deg);
  }
  
  .wc-box div:hover {
    background-color: #CCCCCC;
  }
  
  .wc-box .close:hover {
    background-color: #E04343;
  }
  
  .wc-box div:hover:after,
  .wc-box div:hover:before {
    border-color: #333333;
  }
  
  .wc-box .close:hover:after,
  .wc-box .close:hover:before {
    border-color: #FFFFFF;
  }
  /* width */
::-webkit-scrollbar {
    margin-top: 10px;
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }